/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 /*
 *= ./bootstrap_import
 *= require_tree .
 *= require_self
 */
 html {
   font-size: 62.5%;
   min-height: 100%;
   margin: 0 auto;
   position: relative;
 }

 body {
   text-align: center;
   font-size: 1rem;
   background-image: url("/assets/background6.jpg");
   background-size: cover;
   /* font-family: 'Trebuchet MS'; */
   margin: 0;
   padding: 0;
   font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

 table {
   padding-left: 200px;
 }

 header {
   height: 70px;
   width: 100%;
   padding: 10px 4% 10px;
   top: 0;
   display: flex;
   align-items: center;
 }

 h1 {
   margin: 0; padding: 0;
   font-size: 20px;
 }

 .link {
   text-decoration: none;
   color: white;
 }
 .link:hover {
   text-decoration: none;
   color: #EC8232;
 }

 ul {
   list-style: none;
   margin: 0;
   display: flex;
}

li {
   margin: 0 0 0 15px;
   font-size: 14px;
}

nav {
   margin: 0 0 0 auto;
}
